.our-services {
  padding: 190px 0px 220px 0px;
  background-repeat: no-repeat;
  position: relative;
  background-image: url(../img/dest/dots.png);
  background-repeat: no-repeat;
  background-position-x: 83%;
  background-position-y: 51%;
  @media (max-width: 576px) {
    padding: 70px 0px 90px 0px;
  }
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url(../img/dest/services.png);
    background-repeat: no-repeat;
    background-position: 0% 28%;
    z-index: -1;
  }
  &__title {
    text-align: center;
    margin: 0px 0px 33px 0px;
  }

  &__text {
    max-width: 952px;
    text-align: center;
    margin: 0 auto;
  }

  &__paragraph {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7d7987;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 72px -17px 0 -17px;
    @media (max-width: 1024px) {
      margin: 80px -8px 0 -8px;
    }
    @media (max-width: 576px) {
      margin: 50px -8px 0 -8px;
    }
  }

  &__columns {
    padding: 0px 17px;
    flex: 0 1 33.333%;
    margin: 0px 0px 37px 0px;
    @media (max-width: 1024px) {
      padding: 0px 8px;
      margin: 0px 0px 20px 0px;
    }
    @media (max-width: 912px) {
      flex: 0 1 50%;
    }
    @media (max-width: 677px) {
      flex: 0 1 100%;
    }
  }

  &__item {
    padding: 54px 45px 46px 39px;
    border-radius: 20px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    min-height: 354px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #ffffff;
    @media (max-width: 1024px) {
      padding: 44px 35px 36px 29px;
    }
  }

  &__item-img {
  }

  &__item-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 56px;
    color: $logo-color;
  }

  &__item-text {
    max-width: 286px;
  }

  &__item-paragraph {
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7d7987;
  }
  &__btn {
    text-align: center;
    margin: 40px 0px 0px 0px;
  }
}

.ms {
  min-height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
